sensor:
  - platform: rest
    name: "Open Meteo Raw"
    unique_id: open_meteo_raw
    resource: "https://api.open-meteo.com/v1/forecast?latitude=LATITUDE&longitude=LONGITUDE&daily=weather_code,temperature_2m_max,precipitation_sum,wind_speed_10m_max,sunrise,sunset,surface_pressure_mean&hourly=temperature_2m,precipitation,precipitation_probability,weather_code,wind_speed_10m&current=temperature_2m,relative_humidity_2m&timezone=auto&models=gem_seamless"
    scan_interval: 900
    value_template: "{{ value_json.current.temperature_2m }}"
    json_attributes:
      - current
      - daily
      - hourly

template:
  - sensor:
      - name: "Weather Bundle JSON"
        unique_id: weather_bundle_json
        state: "OK"
        attributes:
          data: >
            {% set raw = states.sensor.open_meteo_raw.attributes %}
            {% if raw.daily is defined %}
              {% set cur = raw.current %}
              {% set d = raw.daily %}
              {% set h = raw.hourly %}
              {% set res = namespace(all={}) %}

              {# Current & Specials #}
              {% set res.all = {
                "cur_t": cur.temperature_2m | string,
                "cur_h": cur.relative_humidity_2m | string,
                "d0_sunr": (d.sunrise[0] | as_datetime | default(now())).strftime('%H:%M'),
                "d0_suns": (d.sunset[0] | as_datetime | default(now())).strftime('%H:%M'),
                "d0_pres": d.surface_pressure_mean[0] | string
              } %}

              {# Daily Forecast (0-6) #}
              {% for i in range(7) %}
                {% set res.all = dict(res.all, **{
                  'd'~i~'_t': (d.time[i] | as_datetime | default(now())).strftime('%a'),
                  'd'~i~'_tp': d.temperature_2m_max[i] | string,
                  'd'~i~'_pr': d.precipitation_sum[i] | string,
                  'd'~i~'_wd': d.wind_speed_10m_max[i] | string,
                  'd'~i~'_c': d.weather_code[i]
                }) %}
              {% endfor %}

              {# Hourly Forecast (0-17) #}
              {% for i in range(18) %}
                {% set res.all = dict(res.all, **{
                  'h'~i~'_t': (h.time[i] | as_datetime | default(now())).strftime('%H:%M'),
                  'h'~i~'_tp': h.temperature_2m[i] | string,
                  'h'~i~'_pa': h.precipitation[i] | string,
                  'h'~i~'_pp': h.precipitation_probability[i] | string,
                  'h'~i~'_wd': h.wind_speed_10m[i] | string,
                  'h'~i~'_c': h.weather_code[i]
                }) %}
              {% endfor %}

              {{ res.all | to_json }}
            {% else %}
              {"error": "data_not_ready"}
            {% endif %}
