
rest_command:
  rest_weather:
    url: "https://api.open-meteo.com/v1/forecast?latitude=LATITUDE&longitude=LONGITUDE&daily=weather_code,temperature_2m_max,temperature_2m_min,precipitation_probability_max,precipitation_sum,wind_speed_10m_max,sunrise,sunset,surface_pressure_mean,snowfall_sum&hourly=temperature_2m,precipitation,snowfall,precipitation_probability,weather_code,wind_speed_10m&current=temperature_2m,relative_humidity_2m,weather_code,wind_speed_10m&timezone=auto"

template:
  - trigger:
      - platform: time_pattern
        hours: /1
      - platform: homeassistant
        event: start
    actions:
      - action: rest_command.rest_weather
        response_variable: rest_weather
    variables:
      hr: "{{ ((as_timestamp(now()) | timestamp_custom('%-H', True)) | int) + 1 }}"
    sensor:
      - name: "WeatherPanel Weather Forecast"
        unique_id: weatherpanel_weatherforecast
        state: "{{ rest_weather.content.daily.temperature_2m_max[0] }}"
        attributes:
          day0_time: "{{ as_timestamp(rest_weather.content.daily.time[0]) | timestamp_custom('%a', True) }}"
          day0_temp: "{{ (rest_weather.content.daily.temperature_2m_max[0] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[0] | string) + '°C' }}"
          day0_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[0] / 10), rest_weather.content.daily.snowfall_sum[0]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[0] | string) + '%' }}"
          day0_wind: "{{ (rest_weather.content.current.wind_speed_10m | round(0) | string) + ' km/h' }}"
          day0_code: "{{ rest_weather.content.current.weather_code }}"
          day0_sunr: "{{ as_timestamp(rest_weather.content.daily.sunrise[0]) | timestamp_custom('%I:%M', True) }}"
          day0_suns: "{{ as_timestamp(rest_weather.content.daily.sunset[0]) | timestamp_custom('%I:%M', True) }}"
          day0_pres: "{{ ((rest_weather.content.daily.surface_pressure_mean[0] / 10) | string) + ' kPa' }}"
          day0_curtemp: "{{ (rest_weather.content.current.temperature_2m | string) + '°C' }}"
          day0_curhum: "{{ (rest_weather.content.current.relative_humidity_2m | string) + '%' }}"
          day1_time: "{{ as_timestamp(rest_weather.content.daily.time[1]) | timestamp_custom('%a', True) }}"
          day1_temp: "{{ (rest_weather.content.daily.temperature_2m_max[1] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[1] | string) + '°C' }}"
          day1_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[1] / 10), rest_weather.content.daily.snowfall_sum[1]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[1] | string) + '%' }}"
          day1_wind: "{{ (rest_weather.content.daily.wind_speed_10m_max[1] | round(0) | string) + ' km/h' }}"
          day1_code: "{{ rest_weather.content.daily.weather_code[1] }}"
          day2_time: "{{ as_timestamp(rest_weather.content.daily.time[2]) | timestamp_custom('%a', True) }}"
          day2_temp: "{{ (rest_weather.content.daily.temperature_2m_max[2] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[2] | string) + '°C' }}"
          day2_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[2] / 10), rest_weather.content.daily.snowfall_sum[2]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[2] | string) + '%' }}"
          day2_wind: "{{ (rest_weather.content.daily.wind_speed_10m_max[2] | round(0) | string) + ' km/h' }}"
          day2_code: "{{ rest_weather.content.daily.weather_code[2] }}"
          day3_time: "{{ as_timestamp(rest_weather.content.daily.time[3]) | timestamp_custom('%a', True) }}"
          day3_temp: "{{ (rest_weather.content.daily.temperature_2m_max[3] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[3] | string) + '°C' }}"
          day3_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[3] / 10), rest_weather.content.daily.snowfall_sum[3]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[3] | string) + '%' }}"
          day3_wind: "{{ (rest_weather.content.daily.wind_speed_10m_max[3] | round(0) | string) + ' km/h' }}"
          day3_code: "{{ rest_weather.content.daily.weather_code[3] }}"
          day4_time: "{{ as_timestamp(rest_weather.content.daily.time[4]) | timestamp_custom('%a', True) }}"
          day4_temp: "{{ (rest_weather.content.daily.temperature_2m_max[4] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[4] | string) + '°C' }}"
          day4_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[4] / 10), rest_weather.content.daily.snowfall_sum[4]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[4] | string) + '%' }}"
          day4_wind: "{{ (rest_weather.content.daily.wind_speed_10m_max[4] | round(0) | string) + ' km/h' }}"
          day4_code: "{{ rest_weather.content.daily.weather_code[4] }}"
          day5_time: "{{ as_timestamp(rest_weather.content.daily.time[5]) | timestamp_custom('%a', True) }}"
          day5_temp: "{{ (rest_weather.content.daily.temperature_2m_max[5] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[5] | string) + '°C' }}"
          day5_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[5] / 10), rest_weather.content.daily.snowfall_sum[5]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[5] | string) + '%' }}"
          day5_wind: "{{ (rest_weather.content.daily.wind_speed_10m_max[5] | round(0) | string) + ' km/h' }}"
          day5_code: "{{ rest_weather.content.daily.weather_code[5] }}"
          day6_time: "{{ as_timestamp(rest_weather.content.daily.time[6]) | timestamp_custom('%a', True) }}"
          day6_temp: "{{ (rest_weather.content.daily.temperature_2m_max[6] | string) + '°C / ' + (rest_weather.content.daily.temperature_2m_min[6] | string) + '°C' }}"
          day6_pre: "{{ (max([(rest_weather.content.daily.precipitation_sum[6] / 10), rest_weather.content.daily.snowfall_sum[6]]) | round(1) | string) + 'cm, ' + (rest_weather.content.daily.precipitation_probability_max[6] | string) + '%' }}"
          day6_wind: "{{ (rest_weather.content.daily.wind_speed_10m_max[6] | round(0) | string) + ' km/h' }}"
          day6_code: "{{ rest_weather.content.daily.weather_code[6] }}"

          hour0_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr]) | timestamp_custom('%-I%p', True) }}"
          hour0_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr] | string) + '°C' }}"
          hour0_code: "{{ rest_weather.content.hourly.weather_code[hr] }}"
          hour0_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr] | round(0) | string) + 'km/h' }}"
          hour0_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr] / 10), rest_weather.content.hourly.snowfall[hr]) | round(1) | string) + 'cm' }}"
          hour0_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr] | string) + '%' }}"
          hour1_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+1]) | timestamp_custom('%-I%p', True) }}"
          hour1_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+1] | string) + '°C' }}"
          hour1_code: "{{ rest_weather.content.hourly.weather_code[hr+1] }}"
          hour1_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+1] | round(0) | string) + 'km/h' }}"
          hour1_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+1] / 10), rest_weather.content.hourly.snowfall[hr+1]) | round(1) | string) + 'cm' }}"
          hour1_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+1] | string) + '%' }}"
          hour2_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+2]) | timestamp_custom('%-I%p', True) }}"
          hour2_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+2] | string) + '°C' }}"
          hour2_code: "{{ rest_weather.content.hourly.weather_code[hr+2] }}"
          hour2_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+2] | round(0) | string) + 'km/h' }}"
          hour2_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+2] / 10), rest_weather.content.hourly.snowfall[hr+2]) | round(1) | string) + 'cm' }}"
          hour2_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+2] | string) + '%' }}"
          hour3_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+3]) | timestamp_custom('%-I%p', True) }}"
          hour3_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+3] | string) + '°C' }}"
          hour3_code: "{{ rest_weather.content.hourly.weather_code[hr+3] }}"
          hour3_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+3] | round(0) | string) + 'km/h' }}"
          hour3_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+3] / 10), rest_weather.content.hourly.snowfall[hr+3]) | round(1) | string) + 'cm' }}"
          hour3_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+3] | string) + '%' }}"
          hour4_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+4]) | timestamp_custom('%-I%p', True) }}"
          hour4_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+4] | string) + '°C' }}"
          hour4_code: "{{ rest_weather.content.hourly.weather_code[hr+4] }}"
          hour4_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+4] | round(0) | string) + 'km/h' }}"
          hour4_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+4] / 10), rest_weather.content.hourly.snowfall[hr+4]) | round(1) | string) + 'cm' }}"
          hour4_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+4] | string) + '%' }}"
          hour5_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+5]) | timestamp_custom('%-I%p', True) }}"
          hour5_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+5] | string) + '°C' }}"
          hour5_code: "{{ rest_weather.content.hourly.weather_code[hr+5] }}"
          hour5_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+5] | round(0) | string) + 'km/h' }}"
          hour5_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+5] / 10), rest_weather.content.hourly.snowfall[hr+5]) | round(1) | string) + 'cm' }}"
          hour5_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+5] | string) + '%' }}"
          hour6_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+6]) | timestamp_custom('%-I%p', True) }}"
          hour6_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+6] | string) + '°C' }}"
          hour6_code: "{{ rest_weather.content.hourly.weather_code[hr+6] }}"
          hour6_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+6] | round(0) | string) + 'km/h' }}"
          hour6_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+6] / 10), rest_weather.content.hourly.snowfall[hr+6]) | round(1) | string) + 'cm' }}"
          hour6_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+6] | string) + '%' }}"
          hour7_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+7]) | timestamp_custom('%-I%p', True) }}"
          hour7_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+7] | string) + '°C' }}"
          hour7_code: "{{ rest_weather.content.hourly.weather_code[hr+7] }}"
          hour7_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+7] | round(0) | string) + 'km/h' }}"
          hour7_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+7] / 10), rest_weather.content.hourly.snowfall[hr+7]) | round(1) | string) + 'cm' }}"
          hour7_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+7] | string) + '%' }}"
          hour8_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+8]) | timestamp_custom('%-I%p', True) }}"
          hour8_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+8] | string) + '°C' }}"
          hour8_code: "{{ rest_weather.content.hourly.weather_code[hr+8] }}"
          hour8_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+8] | round(0) | string) + 'km/h' }}"
          hour8_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+8] / 10), rest_weather.content.hourly.snowfall[hr+8]) | round(1) | string) + 'cm' }}"
          hour8_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+8] | string) + '%' }}"
          hour9_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+9]) | timestamp_custom('%-I%p', True) }}"
          hour9_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+9] | string) + '°C' }}"
          hour9_code: "{{ rest_weather.content.hourly.weather_code[hr+9] }}"
          hour9_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+9] | round(0) | string) + 'km/h' }}"
          hour9_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+9] / 10), rest_weather.content.hourly.snowfall[hr+9]) | round(1) | string) + 'cm' }}"
          hour9_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+9] | string) + '%' }}"
          hour10_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+10]) | timestamp_custom('%-I%p', True) }}"
          hour10_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+10] | string) + '°C' }}"
          hour10_code: "{{ rest_weather.content.hourly.weather_code[hr+10] }}"
          hour10_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+10] | round(0) | string) + 'km/h' }}"
          hour10_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+10] / 10), rest_weather.content.hourly.snowfall[hr+10]) | round(1) | string) + 'cm' }}"
          hour10_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+10] | string) + '%' }}"
          hour11_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+11]) | timestamp_custom('%-I%p', True) }}"
          hour11_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+11] | string) + '°C' }}"
          hour11_code: "{{ rest_weather.content.hourly.weather_code[hr+11] }}"
          hour11_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+11] | round(0) | string) + 'km/h' }}"
          hour11_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+11] / 10), rest_weather.content.hourly.snowfall[hr+11]) | round(1) | string) + 'cm' }}"
          hour11_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+11] | string) + '%' }}"
          hour12_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+12]) | timestamp_custom('%-I%p', True) }}"
          hour12_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+12] | string) + '°C' }}"
          hour12_code: "{{ rest_weather.content.hourly.weather_code[hr+12] }}"
          hour12_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+12] | round(0) | string) + 'km/h' }}"
          hour12_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+12] / 10), rest_weather.content.hourly.snowfall[hr+12]) | round(1) | string) + 'cm' }}"
          hour12_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+12] | string) + '%' }}"
          hour13_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+13]) | timestamp_custom('%-I%p', True) }}"
          hour13_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+13] | string) + '°C' }}"
          hour13_code: "{{ rest_weather.content.hourly.weather_code[hr+13] }}"
          hour13_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+13] | round(0) | string) + 'km/h' }}"
          hour13_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+13] / 10), rest_weather.content.hourly.snowfall[hr+13]) | round(1) | string) + 'cm' }}"
          hour13_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+13] | string) + '%' }}"
          hour14_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+14]) | timestamp_custom('%-I%p', True) }}"
          hour14_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+14] | string) + '°C' }}"
          hour14_code: "{{ rest_weather.content.hourly.weather_code[hr+14] }}"
          hour14_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+14] | round(0) | string) + 'km/h' }}"
          hour14_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+14] / 10), rest_weather.content.hourly.snowfall[hr+14]) | round(1) | string) + 'cm' }}"
          hour14_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+14] | string) + '%' }}"
          hour15_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+15]) | timestamp_custom('%-I%p', True) }}"
          hour15_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+15] | string) + '°C' }}"
          hour15_code: "{{ rest_weather.content.hourly.weather_code[hr+15] }}"
          hour15_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+15] | round(0) | string) + 'km/h' }}"
          hour15_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+15] / 10), rest_weather.content.hourly.snowfall[hr+15]) | round(1) | string) + 'cm' }}"
          hour15_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+15] | string) + '%' }}"
          hour16_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+16]) | timestamp_custom('%-I%p', True) }}"
          hour16_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+16] | string) + '°C' }}"
          hour16_code: "{{ rest_weather.content.hourly.weather_code[hr+16] }}"
          hour16_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+16] | round(0) | string) + 'km/h' }}"
          hour16_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+16] / 10), rest_weather.content.hourly.snowfall[hr+16]) | round(1) | string) + 'cm' }}"
          hour16_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+16] | string) + '%' }}"
          hour17_time: "{{ as_timestamp(rest_weather.content.hourly.time[hr+17]) | timestamp_custom('%-I%p', True) }}"
          hour17_temp: "{{ (rest_weather.content.hourly.temperature_2m[hr+17] | string) + '°C' }}"
          hour17_code: "{{ rest_weather.content.hourly.weather_code[hr+17] }}"
          hour17_wind: "{{ (rest_weather.content.hourly.wind_speed_10m[hr+17] | round(0) | string) + 'km/h' }}"
          hour17_preacc: "{{ (max((rest_weather.content.hourly.precipitation[hr+17] / 10), rest_weather.content.hourly.snowfall[hr+17]) | round(1) | string) + 'cm' }}"
          hour17_preprob: "{{ (rest_weather.content.hourly.precipitation_probability[hr+17] | string) + '%' }}"
